.menu-option {
  padding: 0 10px;
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
.menu-option:hover,
.menu-option.selected {
  background-color: #7ce7ab;
  border-bottom: 5px solid #ff805e;
}

.menu-option.envisioning {
  background-color: #ff805e;
}

.option-text {
  display: flex;
  align-items: flex-end;
}

.option-text span,
.option-text ion-icon {
  padding: 0 5px;
  text-transform: capitalize;
  font-weight: 600;
  white-space: nowrap;
}
.option-text span {
  color: #fff;
}
.option-text ion-icon {
  color: #009842;
}

.menu-dropdown {
  z-index: 10;
  padding: 5px;
  position: absolute;
  left: 0;
  top: 48px;
  transform: translateY(10px);
  -webkit-transform: translateY(10px);
  -moz-transform: translateY(10px);
  -ms-transform: translateY(10px);
  -o-transform: translateY(10px);
  border-radius: 8px;
  min-width: 100%;
  text-transform: capitalize;
  background-color: #2ecc73;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.dropdown-option {
  padding: 5px;
  white-space: nowrap;
  color: #fff;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.dropdown-option:hover {
  background-color: #7ce7ab;
}

@media (max-width: 1199px) {
  .option-text span,
  .option-text ion-icon,
  .dropdown-option {
    font-size: 12px;
  }
  .menu-option {
    padding: 0 3px;
  }
}
