/* #c7ecee */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #323120;
  font-size: 14px;
  font-weight: 400;
}
body {
  margin: 0;
  font-family: "Segoe UI", "Open Sans", "Arial", "Helvetica", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  overflow-y: hidden;
}
